@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
}

body{
  background-image: url(https://wallpapercave.com/wp/wp2497411.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    background-image: url(https://wallpapercave.com/wp/wp2497411.jpg);
  }
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.img-boat{
  padding-left: 10px;
  display: flex;
  width: 60px;
}

.container{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
}

.start-button{
  padding: 10px;
  text-align: center;
  align-items: center;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

.first-column,
.third-column {
  flex: 1;
  max-width: 20%;
}

.second-column {
  flex: 1;
  max-width: 60%;
}

.first-row,
.third-row {
  padding: 10px;
  height: 280px;
}

.second-row {
  padding: 10px;
  height: 600px;
}

.booked-page-css{
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  height: 600px; 
}

.boat-photo{
  size-adjust: 20px;
}